{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to my "Hello Web" project!</h1>

<h2>
    This website is prepared in Django framework.<br>
    Deployed on AWS Lightsail in a Docker container.
</h2>

<h3>Here is the plan:</h3>

<p>
    Since my main goal is to become confident in the deployment process.<br>
    I will create a very simple web page.<br>
    Will try to document the process as much as possible on the way.<br>
    You will probably be able to see the whole progress on the GitHub repository.<br>

</p>


Recources I used to learn Django, Docker, AWS, and CI/CD:
<ul>

    <li>Learn Django basics<br><p>CS50's Web Programming with Python and JavaScript course. (Highly recommended.)</p></li>
    <br>

    <li>Learn Docker<br><p>Docker's guide.</p></li>
    <br>
     
    <li>Learn AWS</li>
    <br>
    <li>Learn CI/CD</li>


</ul>
{% endblock %}