{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <h1></h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Me</a></li>
                <li><a href="">Contact</a></li>
                {% comment %} 
                <li> 
                <a href="{% url 'contact' %}">Contact</a>
                </li>
                {% endcomment %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Psyduck's Hello Web project</p>
    </footer>
</body>
</html>

